body {
  
  /*background-image: url("2T6B5242.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x:hidden;
  background-color: rgba(0,0,0,0.6);


}

#overlay {
  position:absolute;/* Sit on top of the page content */
  display: flex; /* Hidden by default */
  background-size: cover;
  width: 100%; /* Full width (cover the whole page) */
  height: 95%; /* Full height (cover the whole page) */
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  pointer-events:none;
  
}

img{
	height:150px;
	padding-bottom:60%;
	
}

#footerp{
	float:left;
}

h1{
	position: absolute;
	left: 42.00%;
	right: 45.00%;
	top: 1.00%;
	bottom: 88.9%;
    color: #FFC403;
    font-family: 'Lato', sans-serif;
    text-align: center;

}

#Name{
	position: absolute;
	left: 20.46%;
	right:79.74%;
	top:14.73%;
	bottom:70.34%;

	color: #FFC403;
	font-family: 'Lato',sans-serif;
    font-size: 25px;
	font-style: bold;

}
#NameInput{
	position: absolute;
	left: 20.31%;
	right: 51.46%;
	top: 20.16%;
	bottom:74.31%;
	border-radius: 8px;
	

	width: 350px;
	

	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Email{
	position: absolute;
	left: 20.47%;
	right:73.93%;
	top:26.91%;
	bottom:61.16%;

	color: #FFC403;
	font-family: 'Lato',sans-serif;
    font-size: 25px;
	font-style: bold;
}

#EmailInput{
	position: absolute;
	left: 20.31%;
	right: 51.46%;
	top: 32.48%;
	bottom: 62.00%;
	border-radius: 8px;

	width: 350px;

	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#Message{
	position: absolute;
	left: 20.47%;
	right:76.84%;
	top:38.7%;
	bottom:65.79%;

	color: #FFC403;
	font-family: 'Lato',sans-serif;
    font-size: 25px;
	font-style: bold;
}
#MessageInput{
	position: absolute;
	left: 20.31%;
	right: 51.46%;
	top: 45.4%;
	

	width: 350px;
	height: 36px;
	border-radius: 8px;

	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#line{
	position: absolute;
	left: 50.3%;
	right: 58.7%;
	top: 15.16%;
	bottom: 28%;

	border: 1px solid rgba(255, 196, 3, 0.6);

}

#submit{
	position: absolute;
	left: 20.31%;
	right: 51.46%;
	top:55.00%;

	padding:5px;

	background-color: #FFC403;
	
    color: #ffffff;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

	width: 350px;
	height: 50px;

	border-radius: 8px;
	font-size: 30px;

	font-style: bold;

    font-family: 'Lato',sans-serif;

}

#alt{
	font-family: 'Lato',sans-serif;
	
	position: absolute;
	top: 63.00%;
	left:20.31%;
    color: #FFFFFF;
	font-size: 30px;

}
p{
	color: #ffffff;
}

.logo
{
	list-style: none;
	
	height: 60px;
	position: relative;
	text-align: center;
	font-size: 50px;
	margin-left: 640px;
	
}
#text
{
	position: absolute;
width: 486px;
height: 42.6px;
left: 905px;
top: 8236.49px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: normal;
text-align: center;

color: #FFC403;
}

#linksList{
	float: left;
	position: absolute;
	list-style: none;
	left: 55%;
	top: 80px;
	height: 35px;
	padding-bottom: 40px;
	position: relative;
	text-align: left;
	font-size: 20px;
	color: yellow;
}

.links{
	list-style: none;
	color: #FFC403;
	font-family: Quicksand;

}
#hello
{
	position: absolute;
	top: 14.73%;
    left: 0%;
    width: 0px;
}

#contactus
{

   font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #FFC403;
	margin-left: 71%;

}

.icon-bar
{
	left: 69%;
	font-size: 23px;
	position: absolute;
}
footer{
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 150px;
}


#bottomlist1{
	float:left;
}


#bottomlist2{
	float:left;
}


.bottomlist1Li{
	list-style: none;
	color: #FFC403;
	font-size: 15px;
	font-weight: bold;
	font-family: Quicksand;
	margin-left: 40%;
	margin-bottom: 2px;
	line-height: normal;
}
#address
{
	list-style: none;
	color: #FFC403;
	font-size: 15px;
	font-weight: normal;
	font-family: Quicksand;
	margin-left: 55%;
	margin-top: 3%;
	text-align: center;
	margin-right: 8%;
}


.bottomlist2Li{
	list-style: none;
	color: #FFC403;
	font-size: 15px;
	font-weight: bold;
	font-family: Quicksand;
	margin-left: 50px;
	margin-bottom: 2px;
	
}
#bluelinks
{

}
